
<form [formGroup]="rapportForm">
    <header class="header">
        <button mat-raised-button class="buttonAction" (click)="reload()" [disabled]="loading" color="success"><mat-icon>sync</mat-icon>Reload</button>
        <button mat-raised-button class="buttonAction" (click)="changeSelectionAll(true)" [disabled]="loading" color="primary"><mat-icon>done_all</mat-icon>Select All</button>
        <button mat-raised-button class="buttonAction" (click)="changeSelectionAll(false)" [disabled]="loading" color="primary"><mat-icon>remove_done</mat-icon>Unselect All</button>
        <button mat-raised-button class="buttonAction" (click)="pushPacks()" color="warn" [disabled]="!lunii?.plugged || loading || countSelectedPacks() < 1 || rapportForm.get('nameFilter')?.value !== ''"><mat-icon>cloud_sync</mat-icon>PUSH PACK</button>
        <button mat-raised-button class="buttonAction" (click)="removePacks()" color="warn" [disabled]="!lunii?.plugged || loading" ><mat-icon>delete</mat-icon>PURGE LUNII</button>
        <mat-form-field>
            <mat-label>Recherche</mat-label>
            <input
            type="text"
            matInput
            formControlName="nameFilter"
            />
            <button
                *ngIf="rapportForm.get('nameFilter')?.value !== ''"
                mat-icon-button
                matSuffix
                (click)="rapportForm.get('nameFilter')?.patchValue('')"
                matTooltip="Vider"
            >
                <mat-icon style="overflow: visible">close</mat-icon>
            </button>
        </mat-form-field>
        <mat-checkbox [checked]="filterValues.showSelected" (change)="showSelectedChange($event.checked)" [disabled]="loading">Show selected ({{countSelectedPacks()}})</mat-checkbox>
        <mat-checkbox [checked]="filterValues.showDisabled" (change)="showDisabledChange($event.checked)" [disabled]="loading">Show disabled ({{countDisabledPacks()}})</mat-checkbox>
        <div class="divStatus">
            <div [ngStyle]="{ 'background-color': lunii ? 'green' : 'grey' }">Librairie ({{libraryPacksList.length}})</div>
            <mat-icon (click)="exportPacksList()">description</mat-icon>
            <div [ngStyle]="{ 'background-color': lunii ? (lunii.plugged ? 'green' : 'red') : 'grey' }">Lunii ({{luniiPacksList.length - unknownPack.length}} + {{unknownPack.length}})</div>
        </div>
        <div class="divRepport">
            <ul>
                <li *ngFor="let rep of rapportList" [style.color]="rep.color">{{ rep.message }}</li>
            </ul>
        </div>
    </header>
</form>
<div class="formPacks">
    <div *ngFor="let pack of filteredPacksList" class="divPacks">
        <mat-card class="cardPack" [ngClass]="{'disabledCard': pack.disabled || loading}">
            <mat-card-header>
                <div mat-card-avatar><mat-checkbox [(ngModel)]="pack.selected" [disabled]="pack.disabled || loading" (change)="saveSelection(pack.uuid, $event.checked)"></mat-checkbox></div>
                <div mat-card-header-text>{{ pack.title }}</div>
            </mat-card-header>
            <img mat-card-image src="{{ pack.image }}" alt="{{ pack.title }} ">
            <mat-card-content>
            </mat-card-content>
        </mat-card>
    </div>
</div>